---
import CardDashboard from '../components/CardDashboard.astro';
import ListCardsView from '../components/ListCardsView.astro';
import NavHeader from '../components/NavHeader.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const games = await getCollection('games');

const totalGames = games.length;
const totalHours = games.reduce((acc, game) => acc + Number(game.data.horas || 0), 0);
const totalLogros = games.reduce((acc, game) => acc + Number(game.data.logros_obt || 0), 0);
const totaljugando = games.reduce((acc, game) => acc + (game.data.estado === 'Jugando' ? 1 : 0), 0);
const totalpausados = games.reduce((acc, game) => acc + (game.data.estado === 'Pausado' ? 1 : 0), 0);
const totalcompletados = games.reduce((acc, game) => acc + (game.data.estado === 'Completado' ? 1 : 0), 0);
const totalabandonados = games.reduce((acc, game) => acc + (game.data.estado === 'Abandonado' ? 1 : 0), 0);


const ImgUrl = "https://images.igdb.com/igdb/image/upload/t_1080p/";
---

<Layout title="BURST - My List Yearly">
	<main>

		<NavHeader />

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">
			<img src="https://w.wallhaven.cc/full/vm/wallhaven-vmyvy8.jpg" 
			alt="Imagen Carousel Banner Principal HPRI" class="w-full rounded-lg h-auto md:h-[230px] object-cover object-center" />
		</div>

		<div class="max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">
			<h1 class="hidden text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center">
				Dashboard
			</h1>

			<div class="grid gap-4 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

				<CardDashboard cardText="games" cardNumber={totalGames} cardView="" />
				<CardDashboard cardText="horas" cardNumber={totalHours} cardView="" />
				<CardDashboard cardText="logros" cardNumber={totalLogros} cardView="" />
				<CardDashboard cardText="jugando" cardNumber={totaljugando} cardView="lg:hidden" />
				<CardDashboard cardText="pausados" cardNumber={totalpausados} cardView="lg:hidden" />
				<CardDashboard cardText="completados" cardNumber={totalcompletados} cardView="lg:hidden" />
				<CardDashboard cardText="abandonados" cardNumber={totalabandonados} cardView="lg:hidden" />

				<article class="hidden lg:flex bg-gray-800 rounded-xl shadow-lg p-4 border-t-4 border-blue-800 rounded-t-lg">
					<div class="grid grid-cols-2 grid-rows-2 gap-4">
						<aside class="flex flex-col items-center justify-center">
							<p class="text-2xl lg:text-4xl font-bold text-white">{totaljugando}</p>
							<p class="text-[.5rem] lg:text-xs font-thin text-white pt-2">J U G A N D O</p>
						</aside>
						<aside class="flex flex-col items-center justify-center">
							<p class="text-2xl lg:text-4xl font-bold text-white">{totaljugando}</p>
							<p class="text-[.5rem] lg:text-xs font-thin text-white pt-2">P A U S A D O S</p>
						</aside>
						<aside class="flex flex-col items-center justify-center">
							<p class="text-2xl lg:text-4xl font-bold text-white">{totalcompletados}</p>
							<p class="text-[.5rem] lg:text-xs font-thin text-white pt-2">C O M P L E T A D O S</p>
						</aside>
						<aside class="flex flex-col items-center justify-center">
							<p class="text-2xl lg:text-4xl font-bold text-white">{totalabandonados}</p>
							<p class="text-[.5rem] lg:text-xs font-thin text-white pt-2">A B A N D O N A D O S</p>
						</aside>
					</div>
				</article>

			</div>
		</div>

		<div class="max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="font-sans text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Jugando</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				{games
					.filter(game => game.data.estado === 'Jugando')
					.map(game => (
						<article>
							<img src={ImgUrl + game.data.poster} alt={game.data.title} class="w-full rounded-lg" />
						</article>
					))
				}
			</div>

			<h1 class="font-sans text-md lg:text-2xl font-bold text-white text-start my-4 flex align-center items-center"> 
				<span class="ps-2">Pausados</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				{games
					.filter(game => game.data.estado === 'Pausado')
					.map(game => (
						<article>
							<img src={ImgUrl + game.data.poster} alt={game.data.title} class="w-full rounded-lg" />
						</article>
					))
				}
			</div>

			<h1 class="font-sans text-md lg:text-2xl font-bold text-white text-start my-4 flex align-center items-center"> 
				<span class="ps-2">Abandonados</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				{games
					.filter(game => game.data.estado === 'Abandonado')
					.map(game => (
						<article>
							<img src={ImgUrl + game.data.poster} alt={game.data.title} class="w-full rounded-lg" />
						</article>
					))
				}
			</div>

			<h1 class="font-sans text-md lg:text-2xl font-bold text-white text-start my-4 flex align-center items-center"> 
				<span class="ps-2">Completados</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				{games
					.filter(game => game.data.estado === 'Completado')
					.map(game => (
						<article>
							<img src={ImgUrl + game.data.poster} alt={game.data.title} class="w-full rounded-lg" />
						</article>
					))
				}
			</div>

		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Juegos por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Games/2025/List2025/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-green-700 bg-green-900 text-green-300 border-green-600 hover:text-white hover:bg-green-700">
					Lista 2025
				</a>
				<a href="/Games/2024/List2024/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2024
				</a>
				<a href="/Games/2023/List2023/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2023
				</a>
				<a href="/Games/2022/List2022/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2022
				</a>
			</div>

		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Series por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Series/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2025
				</a>
			</div>

		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Movies por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Movies/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2025
				</a>
			</div>

		</div>

		
	</main>
</Layout>