---
import InfoCicle from "../icons/InfoCicle.astro";
import DeviceTv from "../icons/DeviceTv.astro";
import IconStar from "../icons/IconStar.astro";

const { series = [] } = Astro.props;
---

{
    series.map((item) => (
        <div class="relative mt-4">
            <!-- Badge fuera del overflow -->
            <div class="absolute -top-3 left-1/2 -translate-x-1/2 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg">
                <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                    <InfoCicle width="16" height="16" /> {item.rank}
                </span>
            </div>

            <article class={`flex flex-col justify-between relative rounded-xl border-2 border-gray-700 group overflow-hidden ${item.statusViewed === 'ongoing' ? 'ongoing' : 'completed'}`}>
                {/* <div class="absolute bottom-0 left-0 w-full h-7 bg-gray-900/70 z-2 hidden group-hover:flex">
                    <a href={item.show.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white text-nowrap flex justify-center items-center gap-2 absolute -bottom-[-6px] -left-[-5px]">
                            <DeviceTv width="16" height="16" /> Ver Trailer
                        </span>
                    </a>
                </div> */}
                <img
                    src={`https://${item.season.images?.poster?.[0] || ''}`}
                    alt={item.show.title}
                    class="w-full h-full rounded-lg"
                />

                <div class="absolute bottom-1 right-1 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg hidden group-hover:flex">
                    <a href={item.show.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                            <DeviceTv width="16" height="16" /> Season {item.numberSeason} - {item.platformViewed}
                        </span>
                    </a>
                </div>

                
            </article>
        </div>
    ))
}