---

import { getCollection } from 'astro:content';
import IconListDetails from '../icons/ListDetails.astro';
import CardDashboard from './CardDashboard.astro';

const gamesData = await getCollection("games");

const { yearView } = Astro.props
const yAddview = `y${yearView}`

// Declaramos un arreglo con los años definidos
const years = ['y2025', 'y2024', 'y2023', 'y2022'];

// Función que retorna true si en el dynamic year es true y el resto son false
const isValidGame = (game, dynamicYear) => {
    if (!game.data.years_played) return false;
    if (game.data.years_played[dynamicYear] !== true) return false;
    return years.filter(key => key !== dynamicYear).every(key => game.data.years_played[key] === false);
};

const newGames = gamesData.filter(game => isValidGame(game, yAddview)).length;
const totalGames = gamesData.filter(game => game.data.years_played?.[yAddview]).length;
const playingGames = gamesData.filter(game => game.data.years_played?.[yAddview] && game.data.estado === 'Jugando').length;
const pausedGames = gamesData.filter(game => game.data.years_played?.[yAddview] && game.data.estado === 'Pausado').length;
const abandonedGames = gamesData.filter(game => game.data.years_played?.[yAddview] && game.data.estado === 'Abandonado').length;
const completedGames = gamesData.filter(game => game.data.years_played?.[yAddview] && game.data.estado === 'Completado').length;

// Agregamos una nueva constante para obtener los juegos con true en 2 o más items de years_played
const multiTrueGames = gamesData.filter(game => {
    if (!game.data.years_played) return false;
    const trueCount = Object.values(game.data.years_played).filter(val => val === true).length;
    return trueCount >= 2;
}).length;

// Definir sortedYears en orden ascendente
const sortedYears = ['y2022', 'y2023', 'y2024', 'y2025'];

// Para cada juego, se obtiene el primer año (menor) que esté en true, si tiene 2 o más true.
const Count2022 = gamesData.filter(game => {
    if (!game.data.years_played) return false;
    const trueYears = Object.keys(game.data.years_played).filter(key => game.data.years_played[key] === true);
    if (trueYears.length < 2) return false;
    const minYear = sortedYears.find(year => game.data.years_played[year] === true);
    return minYear === 'y2022';
}).length;

const Count2023 = gamesData.filter(game => {
    if (!game.data.years_played) return false;
    const trueYears = Object.keys(game.data.years_played).filter(key => game.data.years_played[key] === true);
    if (trueYears.length < 2) return false;
    const minYear = sortedYears.find(year => game.data.years_played[year] === true);
    return minYear === 'y2023';
}).length;

const Count2024 = gamesData.filter(game => {
    if (!game.data.years_played) return false;
    const trueYears = Object.keys(game.data.years_played).filter(key => game.data.years_played[key] === true);
    if (trueYears.length < 2) return false;
    const minYear = sortedYears.find(year => game.data.years_played[year] === true);
    return minYear === 'y2024';
}).length;

const Count2025 = gamesData.filter(game => {
    if (!game.data.years_played) return false;
    const trueYears = Object.keys(game.data.years_played).filter(key => game.data.years_played[key] === true);
    if (trueYears.length < 2) return false;
    const minYear = sortedYears.find(year => game.data.years_played[year] === true);
    return minYear === 'y2025';
}).length;

const totalNewGames = newGames + Count2022;

if (yearView === '2022') {
    const totalNewGames = newGames + Count2022;
} else if (yearView === '2023') {
    const totalNewGames = newGames + Count2023;
} else if (yearView === '2024') {
    const totalNewGames = newGames + Count2024;
} else if (yearView === '2025') {
    const totalNewGames = newGames + Count2025;
}



---


<div class="max-w-screen-xl max-w-7xl mx-auto p-4">
    <h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center">
        <IconListDetails /> <span class="ms-2">Dashboard</span>
    </h1>

    <div class="grid gap-4 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">

        <CardDashboard cardText="games" cardNumber={totalGames} cardNumberNew={totalNewGames} cardView="" />
        <CardDashboard cardText="jugando" cardNumber={playingGames} cardView="" />
        <CardDashboard cardText="pausados" cardNumber={pausedGames} cardView="" />
        <CardDashboard cardText="abandonados" cardNumber={abandonedGames} cardView="" />
        <CardDashboard cardText="completados" cardNumber={completedGames} cardView="" />

    </div>

</div>