---
// Agrega para evitar el pre-render y poder acceder a los query parameters:
export const prerender = false;

import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import NavHeader from "../../components/NavHeader.astro";

import PlayerPlay from "../../icons/PlayerPlay.astro";
import CalendarCheck from "../../icons/CalendarCheck.astro";
import TagsIcon from "../../icons/TagsIcon.astro";
import Network from "../../icons/Network.astro";
import DeviceGamepad from "../../icons/DeviceGamepad.astro";
import Stopwatch from "../../icons/Stopwatch.astro";
import CircleDashed from "../../icons/CircleDashed.astro";
import Trophy from "../../icons/Trophy.astro";
import Number from "../../icons/Number.astro";
import CalendarTime from "../../icons/CalendarTime.astro";

export async function getStaticPaths() {
    const games = await getCollection("games");

    return games.map((game: { slug: any; }) => ({
        params: { id: game.slug },
        props: { game }
    }))
}

const { game } = Astro.props
const { slug, data } = game
const { title, released, companie, poster, genre, estado, horas, logros_obt, logros_total, console_pc, igdbId, dates_played } = data
const { Content } = await render(game)

// Agrega la lectura del parámetro year desde la URL:
const url = new URL(Astro.request.url);
const selectedYear = url.searchParams.get("year") || "2025";
const yearKey = `y${selectedYear}`;

const ImgUrl = "https://images.igdb.com/igdb/image/upload/t_1080p/";

let percentTrofeos;
if (logros_obt === 0 && logros_total === 0) {
    percentTrofeos = 100;
} else {
    percentTrofeos = Math.round((logros_obt / logros_total) * 100);
}

const estadoStyles = {
    completado: { className: 'completadoColorBg', iconColor: '#2973B2' },
    pausado: { className: 'pausadoColorBg', iconColor: '#FFD65A' },
    jugando: { className: 'jugandoColorBg', iconColor: '#16C47F' },
    abandonado: { className: 'abandonadoColorBg', iconColor: '#D84040' }
};

const currentEstado = estadoStyles[estado.toLowerCase()] || { className: 'defaultColorBg', iconColor: '#FFFFFF' };

const estadoStyle = currentEstado.iconColor;

---

<Layout title={`${title} - BURST`}>
    <main class="w-full">

        <NavHeader />
        
        <section class="p-4 mx-auto max-w-screen-xl">
            <div class="flex gap-4 flex-col lg:flex-row">

                <aside class="flex flex-col items-center w-full">
                    <img transition:name={`img-${slug}`} src={ImgUrl + poster} alt={title} class="rounded-xl w-72 h-auto w-full">
                </aside>

                <main class="max-w-2xl prose prose-invert">
                    <h1 class="flex items-center gap-2 text-2xl font-bold mb-4">
                        {title}
                        <PlayerPlay width="30" height="30" stroke={estadoStyle} />
                    </h1>

                    <li class="flex items-center gap-2">
                        <Number width="20" height="20" />
                        <span class="font-bold">igdbId:</span> 
                        {igdbId}
                    </li>
                    <li class="flex items-center gap-2">
                        <CalendarCheck width="20" height="20" />
                        <span class="font-bold"> Lanzamiento: </span> 
                        {released}
                    </li>
                    <li class="flex items-center gap-2">
                        <Network width="20" height="20" />
                        <span class="font-bold">Compañía:</span> 
                        {companie}
                    </li>
                    <li class="flex items-center gap-2">
                        <TagsIcon width="20" height="20" />
                        <span class="font-bold ">Generos:</span> 
                        <span class="truncate">{genre}</span>
                    </li>
                    <li class="flex items-center gap-2">
                        <DeviceGamepad width="20" height="20" />
                        <span class="font-bold">Consola/PC:</span> 
                        {console_pc}
                    </li>
                    <li class="flex items-center gap-2">
                        <CircleDashed width="20" height="20" />
                        <span class="font-bold">Estado:</span> 
                        {estado}
                    </li>
                    <li class="flex items-center gap-2">
                        <Stopwatch width="20" height="20" />
                        <span class="font-bold">Horas jugadas:</span> 
                        {horas} hrs
                    </li>
                    <li class="flex items-center gap-2">
                        <CalendarTime width="20" height="20" />
                        <span class="font-bold">Fecha de inicio:</span> 
                        {dates_played[yearKey]?.fecha_inicio}
                    </li>
                    <li class="flex items-center gap-2">
                        <CalendarTime width="20" height="20" />
                        <span class="font-bold">Fecha de finalización:</span> 
                        {dates_played[yearKey]?.fecha_final}
                    </li>
                    <li class="flex items-center gap-2">
                        <Trophy width="20" height="20" />
                        <span class="font-bold">Logros obtenidos:</span> 
                        {logros_obt} / {logros_total}
                    </li>

                    <article>
                        <div class="w-full bg-gray-200 rounded-md dark:bg-gray-700">
                            <div class={`bar ${currentEstado.className} text-md font-medium text-white text-center p-0.5 py-2 leading-none rounded-md`} style={`width: ${percentTrofeos}%;`}> {percentTrofeos}%</div>
                        </div>
                    </article>

                    <aside>
                        <Content />
                    </aside>

                </main>
            </div>
        </section>

        <section class="p-4 mx-auto max-w-screen-xl pt-8">
            <hr>
        </section>

    </main>
</Layout>

<style>
    .completadoColorBg {
        color: white;
        &.bar {
            background-color: #2973B2;
        } 
        &.icon {
            fill: #2973B2;
        }
    }
    .pausadoColorBg {
        color: white;
        &.bar {
            background-color: #FFD65A;
        }
        &.icon {
            fill: #FFD65A;
        }
    }
    .jugandoColorBg {
        color: white;
        &.bar {
            background-color: #16C47F;
        }
        &.icon {
            fill: #16C47F;
        }
    }
    .abandonadoColorBg {
        color: white;
        &.bar {
            background-color: #D84040;
        }
        &.icon {
            fill: #D84040;
        }
    }
    .defaultColorBg {
        color: white;
        &.bar {
            background-color: #333;
        }
        &.icon {
            fill: #333;
        }
    }
</style>